/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    padding: 50px 200px;
    background-color: rgb(238, 210, 214);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
nav ul>li{
    list-style: none;
    margin-right:20px ;
}
nav ul li>a{
    text-decoration: none;
}
.title{
    font-size: 40px;
    font-weight: 600;
}
.banner-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.btn{
    color:white;
    background-color: rgb(236, 38, 11);
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 30px;
}
.banner-img{
    width: 900px;
}

/*  main section */
main{
   max-width: 1220px;
    padding: 0px 200px;
    margin: 50px auto;
}
.feature{
    display: flex;
    align-items: center;
   

}
.team-img{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 15px;
}
.team-img img{
    height: 250px;
}
.team-content{
    padding-left: 50px;
    padding-right: 10px;
}
.text1{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(136, 123, 106);
}
.text2{
    font-size: 3rem;
    font-weight: 700;
    color: #222020;
}
.text3{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(238, 59, 59);
}
.feature-card{
    display: flex;
    justify-content: space-around;
}
.feature-card .card h2{
font-size: 3rem;
font-weight: 700;
margin-top: 2px;
margin-bottom: 2px;
}
.feature-card .card p{
    color: #353333;
}
.feature-card .card{
    border: 1px solid rgb(211, 46, 46);
    border-radius: 4px;
    padding: 30px;
    text-align: center;
}
/* mobile responsive */
@media screen and (max-width:576px){
    header,main{
        padding:10px;
    }
    .banner-img,.banner-content,.team-content{
        width: 100%;
    }
    nav,.feature{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: 1fr;
        
    }
    .feature{
        flex-direction: column-reverse;
    }
   
}
/* tablets responsive */
@media screen and (min-width:576px) and (max-width:992px)
{
    header,main{
        padding:40px;
    }
    .banner-img,.banner-content{
        width: 100%;
    }
    nav,{
        flex-direction: column;
    }
    .team-img{
      gap: 20px;
        
    }
    .feature{
        flex-direction: column-reverse;
    }
    
}